/* 
white = #F9F4E4;
lightorange = #EEBB4E;
orange = #AD7432;
lightblue = #6DBDC4;
darkblue = #0A203F;
 */

body {
    background-color: #0A203F;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Staatliches', cursive;
    color: #6DBDC4;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #AD7432;
}

#dropLine {
    font-size: 350%;
    text-shadow: 1px 1px 1px #EEBB4E;
}

.contactBox {
    position: fixed;
    top: 50%;
    left: 50%;
    /* move to center */
    transform: translate(-50%, -50%);
}

.fa-linkedin, .fa-github-square, .fa-envelope-square, .fa-phone-square {
    color: #EEBB4E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
}

/* custom button background colors */

.orange-background {
    background-color: #AD7432;
}

.lightorange-background {
    background-color: #EEBB4E;
}

.modal-title {
    align-content: center;
    justify-content: center;
    margin: auto;
    font-size: 150%;
}

.modal-content {
    font-family: 'Staatliches', cursive;
    background-color: #EEBB4E;
}

.modal-body {
    align-content: center;
    justify-content: center;
    margin: auto;
    font-size: 150%;
}