/* 
white = #F9F4E4;
lightorange = #EEBB4E;
orange = #AD7432;
lightblue = #6DBDC4;
darkblue = #0A203F;
 */

html {
  height: 100%;
}

body {
  background-color: #0a203f;
  height: 100%;
  width: 100%;
}

#project-back-btn {
  margin-bottom: 10px;
}

#student {
  text-decoration: line-through;
}

.container {
  align-content: center;
  justify-content: center;
  object-fit: contain;
  padding-top: 2%;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

p {
  font-size: 20px;
  color: #eebb4e;
  /*font-family: 'Fjalla One', sans-serif;*/
  /* font-family: 'Staatliches', cursive; */
}

h1 {
  font-size: 350%;
  font-family: "Staatliches", cursive;
  color: #eebb4e;
}

h2 {
  color: #6dbdc4;
  font-family: "Staatliches", cursive;
}

h3 {
  color: #eebb4e;
  font-family: "Staatliches", cursive;
}

.card-title {
  color: #eebb4e;
  padding-top: 10px;
  text-shadow: 1px 2px 1px #0a203f;
}

.card-body {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(109, 189, 196, 0.534);
  box-shadow: 0 1px 3px 0 #0a203f, 0px 2px 4px 4px rgb(37, 23, 3);
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 5px;
  background-color: #ad7432;
  padding: 4px;
  box-shadow: 0 1px 3px 0 #6dbdc4, 0px 2px 4px 4px rgb(37, 23, 3);
  margin-bottom: 20px;
}

.card-text {
  font-size: 25px;
  font-family: "Staatliches", cursive;
  /*font-family: 'Teko', sans-serif;*/
  /*font-family: 'PT Mono', monospace;*/
  text-shadow: 1px 1px 2px #0a203f;
}

.img-thumbnail {
  background-color: #eebb4e;
  border-color: #0a203f;
  box-shadow: 0 1px 2px 0 #6dbdc4, 0px 1px 1px 1px rgb(37, 23, 3);
}

.badge-secondary {
  font-size: 100%;
  font-family: "Staatliches", cursive;
  color: #f9f4e4;
}

/* custom button background colors */

.orange-background {
  background-color: #ad7432;
  text-shadow: 1px 1px 2px #0a203f;
  box-shadow: 0 1px 2px 0 #6dbdc4, 0px 1px 1px 1px rgb(37, 23, 3);
}

.lightorange-background {
  background-color: #eebb4e;
}

#firebaseIcon {
  width: 50px;
  height: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.builtWith {
  margin-top: 5px;
}

/*  ---- CONTACT SECTION ---- */

.modal-title {
  align-content: center;
  justify-content: center;
  margin: auto;
  font-size: 150%;
}

.modal-content {
  font-family: "Staatliches", cursive;
  background-color: #eebb4e;
}

.modal-body {
  align-content: center;
  justify-content: center;
  margin: auto;
  font-size: 150%;
}

#dropLine {
  font-size: 350%;
  text-shadow: 1px 1px 1px #eebb4e;
}

.fa-linkedin,
.fa-github-square,
.fa-envelope-square,
.fa-phone-square,
.fa-file-pdf {
  color: #eebb4e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
  margin-bottom: 10px;
}
.contactBox {
  padding-top: 10px;
  margin-top: 5em;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.connect-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}
.connect-div {
  margin-bottom: 30px;
}

.connect-icon {
  margin: 10px 20px;
  width: 60px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

#resume-icon {
  font-size: 3rem;
}
