* {
    margin: 0;
    padding: 0;
    line-height: 2;
}

html {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

body {
    
    background-image: url("../images/bananas.png");
    background-position: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}


/* ---------- NAV BAR ------------------ */
nav {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: #dddddd  solid;
}


ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}

li a {
    display: block;
    color: #777777 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    
}
/*--------------End Navbar ----------------*/



main {
    background-color: #ffffff;
    border-color: #dddddd; 
    border-style: solid;
    width: 960px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

main.header {
    background-color: #ffffff;
    border-color: #cccccc;
}

heading {
    color: #4aaaa5;
    margin-bottom: 20px;
}

heading hr {
    color: #777777;
    border-color: #dddddd;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p  {
    color: #777777;
    padding-left: 10px;
}

.footer {
    padding: 10px;
    background-color: #666666;
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    
}

.footer h3 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0;
}

#top {
    padding-top: 10px;
}

#bottom {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#aboutme {
    font-size: 40px;
    color: #4aaaa5;
    padding-left: 10px;
}
#home {
    float: left;
    color: #ffffff;
    background-color: #4aaaa5;
    text-decoration: none;
}

#portfolio { 
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding-right: 0 10px;
   
}

#myface {
    padding-top: 20px;
    width: 180px;
    height: 180px;
    float: left;
    padding: 10px;
    
}


/*------------contact page -----------*/

#form {
    color: #777;
    background: #ffffff;
    padding-left: 20px;
    width: 960px;
    height: 485px;
    margin-left: auto;
    margin-right: auto;
    resize: both;
    border: solid #cccccc;
    text-decoration-color: #777;
    /* max-width: 760px; */
    flex-grow: 1;
}


button {
    font-size: 100%;
    text-align: center;
    /*width: 90px;*/
    color: #ffffff;
    /*padding: 10px;*/
    background-color: #4aaaa5;
}

/*contact form input fields*/
input.inputs { 
    width: 600px;
}

textarea {
    width: 900px;
}





/*---------- PORTFOLIO PAGE ---------*/

div.portfolio {
    width: 960px;
    background-color:#ffffff;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.gallery2 {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
  }
  
  div.gallery2:hover {
    border: 1px solid #777;
  }
  
  div.gallery2 img {
    width: 100%;
    height: auto;
  }
  
  
  div.desc {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #4aaaa5;
  }



/*----  media queries ------*/

/*

5. Use three `@media screen` tags, each with one of these `max-width`s: `980px`, `768px` and `640px`.

7. Make the position of the header `static` (the default positioning) when the screen is `640px` wide. The header design takes up a lot of room; you don't want it to stick to the top of a small screen and leave no room for the rest of your site.

*/

@media only screen and (max-width: 640px) {


    heading {
        
        position: static;
    }

    #myface {
        float: none;
        width: 50%;
        margin-left: 40px;
        align-content: center;
    }

    p , p#top{
        margin-left: 40px;
        width: 50%;
        height: 200px;
        overflow: hidden;
        
    }

    li a{
        float: none;
        width: 100%;
    }


    div.img {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    main {
        margin-right: 150px;
        margin-left: 50px;
    }
    section.main {
        width: auto;
    }

    .navs {
        width: 30%;
        display: inline-flex;
        height: 40px;
    }

    div#form {
        width: 50%;
    }



    #aboutme {
        margin-left: 40px;
    }

    input.inputs {
        width: 80%;
    }

}


@media only screen and (max-width: 768px) {

    div.portfolio {
        margin: 0;
        width: 50%;
        padding-right: 10px;
    }

    .row1 {
        display: flex;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .row2 {
        display: flex;
        margin-left: 20px;
        margin-bottom: 30px;        
        background-color: blue;
    }

    ul {
        width: auto;
        height: auto;
    }


    #home {
        margin-left: 5px;
    }


}
@media only screen and (max-width: 980px) {

    main {
        width: 500px;
        height: 500px;
    }

    p {
        height: 500px;
    }

    div.portfolio {
        width: 50%;
        padding-right: 10px;
        height: fit-content;
        padding-bottom: 250px;
    }


    .row1 {
        margin-left: 20px;
        height: 100%;
    }
    .row2 {
        margin-left: 20px;
        float: left;
        background-color: blue;
    }
    

    main, body, form, .portfolio, hr {
        width: auto,fit-content;
    }
    
    #home {
        margin-left: 5px;
    }

    div#form {
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }
    
    input.inputs {
        width: 50%;
    }

    textarea {
        width: 50%;
    }
}







/* ---- flipclock css ---- */