* {
    margin: 0;
    padding: 0;
}

html {
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 100%;
}

body {
    background-color: darkorange;
    /*/background-image: url('./images/train.jpg');*/
}

.jumbotron {
    background-color: chocolate;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron-fluid {
    background-image: url('../images/train2.jpg');
}

h1 {
    font-size: 350%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px darkorange;
}

p {
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px darkorange;
}

.row {
    margin: auto;
    align-items: center;
    margin-left: 120px;
    margin-right: 160px;
}

.container {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card-body {
    margin-bottom: 10px;
}

th {
    margin: 10px;
    padding-right: 20px;
}